
.itemContainer {
    margin-top: 10px;
    width: 180px;
    height: 350px;
    border: 1px solid #777;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: white;
    padding-bottom: 15px;
    padding-top: 0;
}

.itemMarca{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-transform: capitalize;
    padding: 0;
    height: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.itemNombre, .itemPrecio, .itemGenero{
    justify-content: center;
    margin: 0;
    padding: 8px;
    font-size: 15px;
    align-items: center;
    display: flex;
    height: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.itemGenero{
    font-size: 13px;
}

.itemPrecio{
    color: #ff13a7;
    font-weight: bold;
    margin: 5px;
}

.itemImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImg {
    height: 140px;
}

.contenedorContador {
   margin: 2px;
}

.itemCartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.itemCartButton {
    background-color: #ff13a7;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    border-radius: 5px;
    width: 120px;
    margin-top: 40px;
}

.itemCartButton:hover {
    background-color: #E4E4E4;
    cursor: pointer;
}

/* .contenedorPerfumes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */


.swal2-popup{
    color: #ff13a7;
    width: 350px;
    font-size: 12px;
}

.disponibles{
    font-size: 11px;
    padding-top: 15px;
    
}


