.clearCart{
    background-color: #ff13a7;
    color: black;
    padding: 5px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px;
}

.clearCart:hover{
    cursor: pointer;
    background-color: white;
}
.cartContainer{
    margin: 10px;
}

.hidden{
    display: none;
}

.clearCartText{
    background-color: white;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
}