.footer{
    height: 90px;
    background-color: #ff13a7;
    margin-top: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}
.imgLogosFooter{
    width: 50px;
    margin-right: 20px;
}