ul {
    display: flex;
    margin: 10px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    
}
/* text-shadow: -2px 5px 5px #000000; */

li {
    margin: 5px;

    a{
        font-weight: bold;
        text-decoration: none;
        color: #ffffff;
        border: 2px solid black;
        padding: 8px;
        border-radius: 5px;
        background-color: black;
    }
    a:hover {
        color: #ff13a7;
        transition: .5s;
    }
}

.activeLink{
    background-color: white;
    color: black;
}
